<!DOCTYPE html>
<html>
<head>
  <title>IsItPopular</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>Is it popular?</h1>
  <%= yield %>
</body>
</html>
